@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/typography";
@import "base/utilities";
@import "base/base";

@import "components/button";

@import "layout/grid";
@import "layout/header";

@import "pages/home";
/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
